@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
$bg: blue;
$ff: 'Open Sans Condensed', sans-serif;

@mixin centerElements {
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
    font-family: $ff;
}
body{
    @include centerElements();
    flex-direction: column;  
}

.containerHeader{
    display: flex;
    width: 95%;
    height: 3em;
    justify-content: end;
    background-color: $bg;

    button{
        margin-right: 15px;
    }
}

.containerBody{
    @include centerElements();
    flex-direction: column;
    width: 95%;
    height: 85vh;   
    background-color: gray;

    .subContainerBody{
        @include centerElements();
        width: 50%;
        flex-wrap: wrap;
        
        img{
            width: 75px;
            height: 75px;
            border-radius:150px;
        }

    }
}

.containerFooter{
    display: flex;
    width: 95%;
    height: 3em; 
    justify-content: space-between;  
    background-color: red;
}

button{
    border-radius: 7px;
}
