@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
$bg: blue;
$ff: 'Open Sans Condensed', sans-serif;
$ft: 'Lobster', cursive;

@mixin centerElements {
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
    font-family: $ff;
}
body{
    @include centerElements();
    flex-direction: column;  
    background-image: url("../../img/fondo.jpg");
}

.containerHeader{
    display: flex;
    width: 95%;
    height: 3em;
    justify-content: end;
    

    button{
        margin-right: 15px;
    }

    #bh{
        font-size: 2em;
        background-color: transparent;
        color: white;
        &:hover{
            background-color: #cfd8dc;
        }
    }
}

.containerBody{
    @include centerElements();
    flex-direction: column;
    width: 95%;
    height: 85vh;   
    

    .subContainerBody{
        @include centerElements();
        width: 50%;
        flex-wrap: wrap;
        
        img{
            width: 75px;
            height: 75px;
            border-radius:150px;

            &:hover{
                width: 100px;
                height: 100px;
            }
        }

    }
}

.containerFooter{
    display: flex;
    width: 95%;
    height: 3em; 
    justify-content: space-between;  
    #bf{
        background-color: transparent;
        font-size: 20px;
        
        &:hover{
            width: 100px;
            height: auto;
        }
    }
}

button{
    border-radius: 16px;
    
}

h1{
    color: white;
    font-size: 4em;
    font-family: $ft;
    border-bottom: 20px;
}